/* основной цвет текста #757575 */
/* вторичный цвет текста #212121 */
/* акцент #2196F3 */

:root {
	--primary-text-color: #757575;
	--title-text-color: #212121;
	--accent-color: #2196f3;
	--primary-white-color: #ffffff;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

img {
	display: block;
	/* max-width: 100%;
	height: auto; */
}

body {
	background-color: var(--primary-white-color);
	color: var(--primary-text-color);

	font-family: Roboto, sans-serif;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
}

.list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.link {
	text-decoration: none;
}

.address {
	font-style: normal;
}

.container {
	width: 1200px;
	padding-right: 15px;
	padding-left: 15px;
	/* margin-left: auto;
	margin-right: auto; */
	margin: 0 auto;
	/* outline: 2px solid tomato;
	background-color: teal; */
}

.social-list {
	display: flex;
	justify-content: center;
}

.social-list-item:not(:last-child) {
	padding-right: 10px;
}

.social-list-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 44px;
	height: 44px;
	background-color: #ffffff;
	border-radius: 50%;
}

.social-list-link:hover {
	background-color: var(--accent-color);
}

.social-list-link:hover .social-list-svg {
	fill: var(--primary-white-color);
}

.social-list-svg {
	width: 20px;
	height: 20px;
	fill: #afb1b8;
}

/* HEADER */

header {
	padding-top: 32px;
	padding-bottom: 32px;
}

header .container {
	display: flex;
	align-items: center;
}

header .navigation {
	display: flex;
	align-items: center;
}

/* logo */

.logo {
	color: var(--accent-color);
	text-decoration: none;
	font-family: Raleway, sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;

	margin-right: 93px;
}

.logo-text {
	color: #000000;
}

/* site-nav */

.site-nav {
	display: flex;
}

.site-nav .item:not(:last-child) {
	margin-right: 50px;
}

.site-nav .link {
	color: var(--title-text-color);
	text-decoration: none;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
	color: var(--accent-color);
}

.site-nav .link.current {
	color: var(--accent-color);
}

/* contacts-nav */

.contacts-nav {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: auto;
}

.contacts-nav .item:not(:last-child) {
	margin-right: 30px;
}

.contacts-nav .link {
	color: var(--primary-text-color);
	text-decoration: none;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;

	display: flex;
	align-items: center;
}

.contacts-nav .link:hover,
.contacts-nav .link:focus {
	color: var(--accent-color);
}

header .envelope {
	width: 16px;
	height: 12px;
	fill: currentColor;
	margin-right: 10px;
}

header .phone {
	width: 10px;
	height: 16px;
	fill: currentColor;
	margin-right: 10px;
}

/* Hero */

.hero {
	background-color: #c4c4c4;
	text-align: center;
	max-width: 1600px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
	background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.hero .container {
	width: 696px;
	padding-top: 200px;
	padding-bottom: 200px;
}

.hero-title {
	color: var(--primary-white-color);
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;

	letter-spacing: 0.06em;
	text-transform: uppercase;

	margin-bottom: 30px;
	margin-top: 0;
}

/* Hero Button */

button {
	font-family: inherit;
}

.button {
	background-color: var(--accent-color);
	color: var(--primary-white-color);
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	text-align: center;
	letter-spacing: 0.06em;
	border-style: none;
	border-radius: 4px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

	padding: 10px 32px;
	min-width: 200px;
	height: 50px;
}

/* section */

.section {
	padding-top: 94px;
	padding-bottom: 94px;
}

.section-title {
	color: var(--title-text-color);

	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;

	margin-top: 0;
	margin-bottom: 50px;
}

/* Features */

.features-list {
	display: flex;
}

.features-item {
	width: 270px;
}

.features-item:not(:last-child) {
	margin-right: 30px;
}

.features-list .title {
	color: var(--title-text-color);
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 10px;
}

.features-list-svg {
	display: flex;
	margin-bottom: 30px;
	/* justify-content: space-between;
	align-items: center; */
}

.features-item-svg {
	width: 270px;
	height: 120px;
	padding: 25px 100px;
	background: #f5f4fa;
	border-radius: 4px;
}

.features-item-svg:not(:last-child) {
	margin-right: 30px;
}

.features-svg {
	width: 70px;
	height: 70px;
}

/* works */

.works {
	padding-top: 0;
}

.works-list {
	display: flex;
	flex-wrap: wrap;
	margin: -15px;
}

.works .item {
	margin: 15px;
	width: 370px;
}

/* .works .item:not(:last-child) {
	margin-right: 30px;
} */

/* Наша команда */

.staff {
	background-color: #f5f4fa;
}

.staff-list {
	display: flex;
}

.staff-item {
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
	background-color: var(--primary-white-color);
}

.staff-item:not(:last-child) {
	margin-right: 30px;
}

.staff-container {
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
}
.staff-list .name {
	color: var(--title-text-color);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;

	margin-bottom: 10px;
}

.staff-list .text {
	font-size: 16px;
	line-height: 1.19;

	margin-bottom: 16px;
}

/* Clients */

.clients-list {
	display: flex;
	/* justify-content: center;
	align-items: center; */
}

.clients-item:not(:last-child) {
	margin-right: 30px;
}

.clients-list-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 170px;
	height: 90px;
	border: 1px solid #afb1b8;
	border-radius: 4px;
}

.clients-list-link:hover {
	color: var(--accent-color);
	border: 1px solid var(--accent-color);
}

.clients-list-link:hover .clients-svg {
	fill: var(--accent-color);
}

.clients-svg {
	fill: #afb1b8;
	max-width: 90px;
	max-height: 55px;
}

/* footer */

footer {
	background-color: #2f303a;
	padding-top: 60px;
	padding-bottom: 60px;
}

footer span {
	color: #ffffff;
}

footer .logo {
	display: inline-block;
	/* margin-right: 0; */
	margin-bottom: 20px;
}

footer .address {
	color: var(--primary-white-color);
	font-style: normal;
	font-size: 14px;
	line-height: 1.71;

	margin-bottom: 9px;
}

footer .mail {
	margin-bottom: 9px;
}

footer .mail,
footer .phone {
	color: rgba(255, 255, 255, 0.6);
	text-decoration: none;
	font-style: normal;
	font-size: 14px;
	line-height: 1.71;
	display: block;
}

footer .container {
	display: flex;
	align-items: center;
}

footer .footer-contact {
	margin-right: 70px;
}

footer .social-list-text {
	margin-bottom: 20px;
	font-weight: 700;
	line-height: 1.14;
	text-transform: uppercase;
	color: var(--primary-white-color);
}

footer .social-list-link {
	background: rgba(255, 255, 255, 0.1);
}

footer .social-list-svg {
	fill: var(--primary-white-color);
}

/* Portfolio */

/* Portfolio Header */

.portfolio-header {
	border-bottom: 1px solid #ececec;
}

/* Portfolio Filter */

.portfolio {
	padding-top: 94px;
	padding-bottom: 94px;
}

.filter-list {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.filter-item:not(:last-child) {
	margin-right: 8px;
}

.filter-list .option {
	background-color: #f5f4fa;
	color: var(--title-text-color);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.63;
	text-align: center;
	border-style: none;
	border-radius: 4px;

	padding: 6px 22px;
	min-width: 73px;
}

.filter-list .option:hover,
.filter-list .option:focus {
	background-color: var(--accent-color);
	color: var(--primary-white-color);
}

/* Portfolio Examples */

.examples-list {
	display: flex;
	flex-wrap: wrap;
	margin: -16px;
}

.examples-list .item {
	margin: 15px;
}

.examples-list .item:hover,
.examples-list .item:focus {
	background: #ffffff;
	border: 1px solid #eeeeee;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.examples-container {
	padding: 20px 24px;
	border: 1px solid #eeeeee;
}

.examples-list a {
	text-decoration: none;
}

.examples-list .name {
	color: var(--title-text-color);
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;

	margin-bottom: 0;
}

.examples-list .text {
	color: var(--primary-text-color);
	font-size: 16px;
	line-height: 1.88;

	margin-top: 4px;
	margin-bottom: 0;
}
